	
<ul class="cdt-step-progressbar" #stepbar>
    <li class="active">
      <span class="indicator"><i class="icon ion-md-checkmark"></i></span>
      <span class="title">Initiate</span>
    </li>
    <li class="active">
      <span class="indicator"><i class="icon ion-md-checkmark"></i></span>
      <span class="title">Order</span>
    </li>
    <li>
      <span class="indicator"><i class="icon ion-md-hammer"></i></span>
      <span class="title">Finally make it</span>
    </li>
    <li>
      <span class="indicator"><i class="icon ion-md-construct"></i></span>
      <span class="title">In production</span>
    </li>
    <li>
      <span class="indicator"><i class="icon ion-md-airplane"></i></span>
      <span class="title">Delivery</span>
    </li>
  </ul>