<div class="container"></div> <!-- background image -->

<div class="grid">
  <div></div>
  <div class="content">
    <span class="content__text--1">Opps... Error <b>404</b>.</span><br>
    <span class="content__text--2">The page doesn't seem to exist. </span> 
    <span class="content__text--3">Go to Homepage?</span>
  </div>
  <div class="footer">
    <div class="footer__text">@2020 Vibrant America</div>
    <div class="footer__logo">
      <i class="icon ion-logo-facebook footer__icon"></i>
      <i class="icon ion-logo-twitter footer__icon"></i>
      <i class="icon ion-logo-youtube footer__icon"></i>
      <i class="icon ion-logo-linkedin footer__icon"></i>
    </div>
  </div>
</div>