@import "../../_scss/abstracts/variables.scss";

.product-container {
    background-color: $color-hover;
    height: 100%;
    padding: 0 2%;
    padding-bottom: 2%;
    min-width: 0;
    min-height: 0;

    display: grid;
    grid-template-rows: 10% 1fr;
}

.header {
    grid-column: 1/-1;
    align-self: center;

    display: flex;
    align-items: center;

    &--text {
        font-size: 2.3rem;
        font-weight: bold;
        color: $color-title;
    }

    &--search {
        flex-basis: 50%;
        position: relative;
        margin-right: auto;
    }

    &--right-bar {
        position: absolute;
        top: 0;
        left: 95%;
        right: 0;
        bottom: 0;
        text-align: center;
        vertical-align: middle;
        border-left: 1px solid $color-primary-light;

        & .fas {
            font-size: 2rem;
            margin-top: .95rem; // 2 + .95 * 2 = 3.9
            background: linear-gradient(to right, $color-primary, $color-primary-light);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &--switch-text {
        color: $color-title;
        margin-right: 1rem;
        cursor: pointer;
    }

    &--switch-icon {
        margin-left: .4rem;
        font-size: 1rem;
    }
}

.content {
    height: 100%;
    min-width: 0;
    min-height: 0;
    max-height: 100%;

    display: grid;
    grid-template-columns: 15% auto;

    &__main {
        background-color: #f9f9f9;
        min-height: 0;
        min-width: 0;
        max-height: 100%;

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5%;

        &--panel {
            box-shadow: $shadow-container;
            background-color:#f9f9f9;
            padding: 2% 4%;
            min-width: 0;
            min-height: 0;
            max-height: 100%;
            
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;

            &--text {
                vertical-align: middle;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &--icon {

                &--rotate {
                    color: $color-light;
                    margin-left: .4rem;
                    transform: rotate(135deg);
                    transform-origin: 0 50%;
                }
            }          
        }

    }

    &__sider {
        background-color: $color-white;
        min-width: 0;
        min-height: 0;

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5%;
        font-weight: bold;

        &--bottom {
            display: flex;
            flex-direction: column;
        }

        &--pane {
            background-color: #f9f9f9;
            margin: 0 .3rem;
            padding: 1rem .7rem;
            cursor: pointer;
            min-width: 0;
            min-height: 0;

            display: flex;
            align-items: center;

            &--text {
                margin-right: auto;
                color: $color-title;
                font-weight: 400;

                &--selected {
                    font-weight: bold;
                }

                &:hover {
                    font-weight: bold;
                }
            }

            &--icon {
                font-size: 2rem;
                color: $color-primary;
                margin-right: 1rem;
                cursor: pointer;
            }

            &--selected {
                box-shadow: $shadow-container;
            }
        }

        &--brand {
            flex: 1; 
            
            display: grid;
            grid-template-rows: 15% repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-gap: .5rem .3rem;

            &--title {
                align-self: center;
                grid-column: 1/-1;

                display: flex;
                align-items: center;
            }

            &--text {
                font-weight: bold;
                color: $color-title;
                padding: 0 .7rem;
                padding-top: 1rem;
                margin-right: auto;
            }

            &--icon {
                color: $color-primary;
                padding-top: 1rem;
                margin-right: 2rem;
                cursor: pointer;
            }

            &--image {
                margin: 0 .3rem;
                box-shadow: $shadow-element;

                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;

                &--1 {
                    background-image: url('../../../assets/brands/allergan.png');
                }

                &--2 {
                    background-image: url('../../../assets/brands/community.png');
                }

                &--3 {
                    background-image: url('../../../assets/brands/nordic.png');
                }

                &--4 {
                    background-image: url('../../../assets/brands/vital.png');
                }

                &--5 {
                    background-image: url('../../../assets//brands/duro.png');
                }

                &--6 {
                    background-image: url('../../../assets//brands/love146.png');
                }
            }
        }
    }
}


.favorite-container__empty {
    padding: 3rem;

    &--title {
        font-size: 2.5rem;
        font-weight: bold;
    }
}




.u-margin-button {
    margin-right: 3rem;
}




.hover-effect-button-round {
    cursor: pointer;
    padding: .3rem 0;
    transition: all .3s;

    &:hover {
        padding-left: 2rem;
        padding-right: 1.5rem;
        color: $color-white;
        background-color: $color-light-2;
        box-shadow: $shadow-hover;
        border-radius: 10rem;

        & i {
            color: $color-white;
        }
    }

    &--modified {

        &:hover {
            background-color: $color-hover;
            color: $color-text;

            & i {
                color: $color-text;
            }
        }
    }
}








.product-list {
    height: 100%;
    width: 100%;
    padding: 2% 2%;
    min-height: 0;
    min-width: 0;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3%;

    .product-item {
        text-align: center;
        vertical-align: center;

        display: grid;
        grid-template-rows: 60% 8% 8% 7%;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }

        &--img {
            background-size: auto 60%;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }

        &--like {
            color: $color-placeholder;

            display: flex;
            align-items: center;
            justify-content: center;

            &--text {
                margin-left: .5rem;
                padding: 0 .2rem;
                border: 1px solid $color-placeholder;
                font-size: 1.2rem;
                line-height: 1.2;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    border: 1px solid $color-primary;
                    color: $color-primary;
                    box-shadow: $shadow-hover;
                }
            }
        }

        &--title {
            color: $color-primary;
            font-weight: bold;
        }

        &--text {
            font-size: 1.2rem;
        }
    }
}







.quick-view-container {
    height: 50rem;
    width: 120rem;

    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 3%;

    &__left {
        background-size: auto 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__right {

        padding: 6rem 4.3rem;
        
        display: grid;
        grid-template-rows: 15% 15% 10% 30% 1fr;
        grid-gap: 2%;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        color: $color-primary;
    }

    &__subtitle {
        font-size: 1.4rem;
    }

    &__text {
        font-weight: bold;
        color: $color-black;
    }

    &__link {
        color: $color-green;
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: translateY(-1px);
            color: $color-light;
        }
    }

    &__btn {
        display: inline-block;
        margin-right: 1rem;
        padding: 0 .7rem;
        border-radius: $border-radius;
        border: 2px solid rgba($color-primary, .2);
        cursor: pointer;
        transition: all .3s;

        &--focus {
            border: 2px solid $color-primary;
        }
    }

    &__footer {

        display: grid;
        grid-template-columns: 72% 1fr;
        align-items: center;

        &--price {
            color: $color-black;
            font-weight: bold;

            &__text {
                font-size: 1.4rem;
            }
        }

        &--operation {
            
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 20% 1fr;
            grid-gap: 0 7%;
            align-items: center;

            &__btn {
                display: inline;
            }
        }

        &--select {
            justify-self: flex-start;
        }
    }
}


.u-button-margin-bottom {
    margin-bottom: .7rem;
}

.u-panel-margin-top {
    margin-top: 9.4rem;
}


.full-price {
    color: $color-placeholder;
    font-weight: 400;
    text-decoration: line-through;
}