<div>
    <div [hidden]="!params.enableMenu"
         class="customHeaderMenuButton"
         (click)="onMenuClick()">
         <i class="icon ion-md-arrow-dropdown"></i>
    </div>
    <div class="customHeaderLabel">{{params.displayName}}</div>
    <div [hidden]="!params.enableSorting"
         class="{{'customSortDownLabel'+ (this.sorted === 'desc' ? ' active' : '') }}"
         (click)="onSortRequested('desc', $event)">
         <i class="icon ion-md-arrow-round-up"></i>
    </div>
    <div [hidden]="!params.enableSorting"
         class="{{'customSortUpLabel'+ (this.sorted === 'asc' ? ' active' : '') }}"
         (click)="onSortRequested('asc', $event)">
         <i class="icon ion-md-arrow-round-down"></i>
    </div>
    <div [hidden]="!params.enableSorting"
         class="{{'customSortRemoveLabel'+ (this.sorted === '' ? ' active' : '') }}"
         (click)="onSortRequested('', $event)">
         <i class="icon ion-md-close"></i>
    </div>
</div>